p {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 0;
  pointer-events: none;
}
button {
  background-color: white;
  border-radius: 5px;
  outline: unset;
  border-width: 1px;
  height: 20px;
}
button:nth-child(2) {
  width: 50px;
}
.container {
  padding: 40px;
  max-width: 1000px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.date,
.pageNavi {
  font-size: 30px;
  font-weight: bold;
}

.container .day {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .day > div {
  text-align: end;
  width: 100%;
}
.container .day > div:nth-child(1),
.container .day > div:nth-child(7) {
  color: grey;
}

.container .body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.container .body .month {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.holiday {
  font-size: 12px;
  background: #ff7272;
  color: white;
  text-align: left;
  font-weight: bold;
  border-radius: 3px;
  margin: 0 5px;
  padding-left: 5px;
}
.event {
  font-size: 12px;
  background: #40caf8;
  color: white;
  text-align: left;
  font-weight: bold;
  border-radius: 3px;
  margin: 0 5px;
  padding-left: 5px;
}
.today {
  border-radius: 25px;
  background: red;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  color: white;
}
.greyColorDay {
  color: grey;
}
.container .body .month > div {
  width: calc(100% / 7);
  height: 100px;
  text-align: end;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  box-sizing: border-box;
}
.container .body .month > div:nth-child(1),
.container .body .month > div:nth-child(2),
.container .body .month > div:nth-child(3),
.container .body .month > div:nth-child(4),
.container .body .month > div:nth-child(5),
.container .body .month > div:nth-child(6),
.container .body .month > div:nth-child(7) {
  border-top: 1px solid grey;
}
.container .body .month > div:nth-child(1),
.container .body .month > div:nth-child(8),
.container .body .month > div:nth-child(15),
.container .body .month > div:nth-child(22),
.container .body .month > div:nth-child(29),
.container .body .month > div:nth-child(36) {
  border-left: 1px solid grey;
  background-color: #ffded5;
}
.container .body .month > div:nth-child(7),
.container .body .month > div:nth-child(14),
.container .body .month > div:nth-child(21),
.container .body .month > div:nth-child(28),
.container .body .month > div:nth-child(35),
.container .body .month > div:nth-child(42) {
  background-color: #ffded5;
}
